.container {
    height: fit-content;
    padding: 5px 20px;
    background-color: #2e404f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.action_wrapper {
    padding-top: 10px;
}

.action_list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.link_style {
    text-decoration: none;
    color: white;
}

.link_style:hover {
    color: yellow;
    transition: 0.5s;
}

.auth_wrapper {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.search_box {
    display: flex;
    position: relative;
    align-items: center;
    width: 500px;
}

.search_input {
    width: 500px;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

.search_input::placeholder {
    color: #ccc;
}

.search_icon {
    cursor: pointer;
    color: white;
}

.search_results {
    
    position: absolute;
    overflow-y: auto;
    max-height: 200px;
    width: 490px;
    background-color: #faf8f8;
    border: 1px solid #ccc;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 200px;
}

.search_results img {
    width: 75px;
    height: 50px;
}

.search_results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search_results li {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    /* Thêm đường gạch ngang */
}

.search_results li:first-child {
    border-top: none;
    /* Loại bỏ đường gạch ngang ở phần tử đầu tiên */
}

.search_results li img {
    margin-right: 10px;
}

.link_style_result {
    text-decoration: none;
    color: black;
}