.container {
 display: flex;
 flex-direction: column;
 gap: 4px;
 padding: 0 4px;
}

.sub_info_wrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.image_wrapper{
    height: 170px;
    width: 170px;

}

img{
    width: 100%;
    height: 100%;
}

.content_wrapper{
    display: flex;
    justify-content: center;
    gap: 8px;
    justify-content: space-between;

}

.description {
    flex-wrap: wrap;
    flex: 1;
}

.link_decord{
    text-decoration: none;
}

.center {
    align-items: center;
 
}